<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EML 파서(UI없음)/src/starter_of_eml_parser_no_ui/EmlParserNoUiStarter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="starter_of_eml_parser_no_ui.EmlParserNoUiStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EML 파서(UI없음)"/>
</launchConfiguration>
